<br>
<br>
<div class="main">
<h3>Welcome <%= current_user.name %></h3>

<h4>You have a total of <%= pluralize(@kits.count, "kit") %></h4>

  <p>Please select a kit from below to see more details</p>
  <% @kits.each do |k| %>
  <%= link_to k.name, kit_path(k) %>
  <p>Description: <%= k.description%></p>
  <button id="button" class="js-more" data-id="<%= k.id %>">Preview Kit</button><br><br>

 <table class="table table-striped table-dark" id=kitItemsTable style="display: none;"></table>
    <script id="kitItemsTemplate" type="text/x-handlebars-template" >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Color</th>
      </tr>
      {{#each this}}
      <tr>
          <td>{{name}}</td>
          <td>{{brand}}</td>
          <td>{{color}}</td>
      </tr>
      {{/each}}
    </script>
  <% end %>
<%= link_to 'Add a New Kit', new_kit_path%><br><br>
<%= link_to 'Sign Out', signout_path, method: :delete %><br>
<div>
<p>Check out other users' items and ratings:</p>
  <button id="button" class="js-allItems" data-id="">See All Items</button>
  <button id="button" class="js-byRating" data-id="">By Rating</button>
  <button id="button" class="js-Category" data-id="">By Category</button><br><br>
</div>
<div>

<table  class="table table-hover table-dark" id="allItemsTable" style="display: none;"></table>
<script id="allItemsTemplate" type="text/x-handlebars-template">

  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Rating</th>
    <th>Category</th>
    <th>Comment</th>
  </tr>
  {{#each this}}
  <tr>
      <td>{{name}}</td>
      <td>{{brand}}</td>
      <td>{{color}}</td>
      <td>{{rating}}</td>
      <td>{{category.name}}</td>
      <td>{{comment}}</td>
  </tr>
  {{/each}}
</script>
</div>
</div>
