<% if @kit.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@kit.errors.count, "error") %>
      prohibited this glam kit from being saved:
    </h3>

    <ul>
    <% @kit.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Add a New Kit Form</h1>
<div>
<%= form_for(@kit, url: user_kits_path) do |f| %>
<!-- conditionally format these two fields -->
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <p>Add Item to Kit</p>
  <%= render partial: "form", locals: {kit: @kit, user: @user, f: f} %>

<% end %>
