<h1><%= @kit.name %></h1>
<h2><%= @kit.description %></h2>
<p><%= pluralize(@kit.items.count, "item")%> in this kit</p>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Category</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Comment</th>
  </tr>

  <tr>
    <% @kit.items.each do |i| %>
  </tr>
  <tr>
    <td><%= i.id %></td>
    <td><%= i.name %></td>
    <td><%= i.brand %></td>
    <td><%= i.color %></td>
    <td><%= i.category.name %></td>
    <td><%= number_to_currency(i.price) %></td>
    <td><%= i.rating %></td>
    <td><%= i.comment%></td>
    <td><%= link_to "Edit", edit_kit_item_path(@kit, i) %></td>
    <td><%= link_to "Delete", kit_item_path(@kit, i), method: :delete, data: { confirm: "Are you sure?" } %>
  </tr>
  <% end %>
</table>
<br>

<%= link_to "Add Item", new_kit_item_path(@kit) %>
<%= link_to "Delete Kit", kit_path(@kit), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Go Back to Kits", kits_path %><br><br>

<button class="addItem" data-id="">Add Item</button>
<div>

</div>
