<h1><%= @kit.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Category</th>
    <th>Price</th>
    <th>Rating</th>
  </tr>

  <tr>
    <% @kit.items.each do |i| %>
  </tr>
  <tr>
    <td><%= i.name %></td>
    <td><%= i.brand %></td>
    <td><%= i.color %></td>
    <td><%= i.category.name %></td>
    <td><%= number_to_currency(i.price) %></td> <!-- don't like the format need to change -->
    <td><%= i.rating %></td>
    <td><%= link_to "Edit", edit_kit_item_path(@kit, i) %></td>
    <td><%= link_to "Delete", kit_item_path(@kit, i), method: :delete, data: { confirm: "Are you sure?" } %>
  </tr>
  <% end %>
</table>

<%= link_to "Add Item", new_kit_item_path(@kit) %>
<%= link_to "Delete Kit", kit_path(@kit), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Go Back to Kits", kits_path %><br><br>
