
<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr>
    <% @items.each do |i| %>
  </tr>
  <td><%= i.name %></td>
  <td><%= i.brand %></td>
  <td><%= i.color %></td>
  <td><%= i.category.name %></td>
  <td><%= number_to_currency(i.price) %></td>
  </tr>
<% end %>
</table>
