<h3>EDIT</h3>
<%= form_for(@item, url: edit_item_path) %>
  <%= label :name %>:
  <%= text_field :name %><br>
  <%= label :brand %>:
  <%= text_field :brand %><br>
  <%= label :color %>:
  <%= text_field :color %><br>
  <%= label :rating %>:
  <%= text_field :rating %><br>
  <%= label :price %>:
  <%= text_field :price %><br>
  <%= label :comment %>:
  <%= text_area :comment %><br>
  <%= label "Category" %>:
  <%= @item.collection_select(:category_id, Category.all, :id, :name, :prompt => true) %>
  <!-- may need to refactor to remove directly pulling from model -->
  <% end %>
<%= f.submit %>
<% end %>
