<h1>All Items</h1>
<div>
  <h3>Filter posts by:</h3>
  <%= form_tag("/items", method: "get") do %>
    <%= label_tag "Category" %>
    <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<br>
<%= render "items_table" %>
<br>
<%= link_to "Go Back to Kits", kits_path %><br><br>
