<h1>All Items</h1>
<div>
  <h3>Filter posts by:</h3>
  <%= form_tag("/items", method: "get") do %>
    <%= label_tag "Category" %>
    <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), include_blank: true %>
    <%= label_tag "Rating" %>
    <%= select_tag "rating", options_for_select([1, 2, 3, 4, 5]), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Category</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Comments</th>
  </tr>
  <tr>
    <% @items.each do |i| %>
  </tr>
  <td><%= i.name %></td>
  <td><%= i.brand %></td>
  <td><%= i.color %></td>
  <td><%= i.category.name %></td>
  <td><%= number_to_currency(i.price) %></td>
  <td><%= i.rating %></td>
  <td><%= i.comment %></td>
  </tr>
<% end %>
</table>

<%= link_to "Go Back to Kits", kits_path %><br><br>
