<h1>Show Item Details</h1>
  <li><%= @item.name %></li>
  <li><%= @item.brand %></li>
  <li><%= @item.color %></li>
  <li><%= @item.price %></li>
  <li><%= @item.rating %></li>
    <li>edit</li>
    <li>delete</li>
